*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: skyblue;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

#menu {
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

/* Navigation */
.navigation {
    display: flex;
    flex-direction: column;
}

.navigation a {
    display: none;
    color: #222;
    text-align: center;
    padding: .5rem;
}

.navigation a:hover {
    text-decoration: overline;
}

/* Main */
h2 {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

/* Temple Card */
.temple-card {
    margin: 0 auto;
}

.temple-card .details {
    padding: 20px;
}

.temple-card .details .label {
    font-weight: bold;
}

.temple-card img {
    width: 100%;
    height: 300px;
}

/* When the button is clicked */
.open a {
    display: block;
}

.navigation .active {
    color: #00387d;
    font-weight: bold;
    text-decoration: underline;
}

footer {
    display: grid;
    justify-content: center;
    text-align: center;
    background-color: skyblue;
    margin-top: 20px;
    padding: 25px;
}