@media (min-width: 640px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* max-width: 860px; */
    }

    #menu {
        display: none; /*Hide hamburger button*/
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}