@media (min-width: 640px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* max-width: 860px; */
    }
    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }
    .navigation a {
        flex: 1 1 100%;
    }

    menu {
        display: none;
    }
}